<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
img {width: 600px;height: 400px;}
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer;font-size: 44px !important;}
.w3-badge {height:20px;width:20px;padding:0}
</style>
<body>


<div class="w3-content w3-display-container" style="width:1200px;margin-top: 0.5px">
  <img class="mySlides" src="https://www.wallpaperup.com/uploads/wallpapers/2016/05/07/945366/e26fae279242c5d12c52d402a6e4a3ed-1000.jpg" style="width:100%">
  <img class="mySlides" src="https://www.freegreatpicture.com/files/28/21915-beautiful-high-definition-rendering.jpg" style="width:100%">
  <img class="mySlides" src="https://www.freegreatpicture.com/files/28/21827-beautiful-high-definition-rendering.jpg" style="width:100%">
  <img class="mySlides" src="https://www.freegreatpicture.com/files/28/21766-beautiful-high-definition-rendering.jpg" style="width:100%">
  <img class="mySlides" src="https://www.freegreatpicture.com/files/photo102/50640-wallpaper.jpg" style="width:100%">
  
  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
    </span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
    </span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
  </div>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}


var slideIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > x.length) {slideIndex = 1}
  x[slideIndex-1].style.display = "block";
  setTimeout(carousel, 4000); // Change image every 2 seconds
  showDivs(i)
}
</script>

</body>
</html> 
