
/* todo : this style file not knowing yet on other pages need to fix it  */
/*.d0 {*/
/*    background-color: #d6eaf8;*/
/*    color: black;*/
/*}*/
/*.d1 {*/
/*    background-color: #f6f9fa;!* #aed6f1*!*/
/*    color: black;*/
/*}*/

.mci{
    color: #7eea12;
    font-size: small;
    background-color: #0a0a0a;

}
 .bc{
     background-color: #7eea12;
 }