{% extends 'base.html.twig' %}

{% block body %}

<h1> Bienvene Daans Ce Blog !!</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci asperiores aut autem blanditiis
    commodi corporis distinctio dolor dolorum eius enim ex expedita fugiat ipsum iste iusto, magnam molestias
    necessitatibus praesentium quas quo quod rerum saepe sint, tempore voluptate voluptatibus?</p><p>Culpa deserunt
    dolorem ex ipsum nam quas quasi quidem reprehenderit? Culpa laboriosam omnis quaerat quis soluta. Ab commodi cumque
    dolore doloribus earum maxime molestiae? Exercitationem fuga in inventore nemo neque nihil nobis, qui quidem
    quisquam reiciendis suscipit ullam velit veritatis!</p>

{% endblock %}